@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f5f7fa;
  color: #1f2933;
  line-height: 1.6;
}

.hero {
  height: 100vh; /* Tela cheia (notebook 15") */
  background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
    url("https://planetacaminhao.com.br/uploads/blog/2016/07/caminhao_cegonha_certo.jpg") center / cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 800px;
  padding: 20px;
  color: #fff;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.3rem;
  margin-bottom: 35px;
}

.btn {
  background: #2563eb;
  color: #fff;
  padding: 18px 35px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background: #1e40af;
}

section {
  padding: 70px 20px;
  max-width: 1100px;
  margin: auto;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 2.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
  text-align: center;
  font-weight: 500;
}

.card h3 {
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
  max-width: 750px;
  margin: auto;
}

.map {
  text-align: center;
}

.map img {
  max-width: 50%;
  border-radius: 10px;
}

.footer {
  background: #0f172a;
  color: #cbd5e1;
  padding: 80px 20px;
}

.footer-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer h3 {
  color: #fff;
  margin-bottom: 15px;
}

.footer p,
.footer li {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

.footer ul {
  list-style: none;
  padding: 0;
}


.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: #fff;
  padding: 15px 22px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

@media (max-width: 768px) {
  .hero {
    background-attachment: scroll; 
    background-size: contain;     
    background-position: top center;
    height: 90vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }
}


